---
import { Button } from "./button";
import MobileMenu from "./MobileMenu";

---

<nav style="background-color:var(--color-background); border-bottom:1px solid var(--color-border);" class="shadow-md fixed top-0 w-full">
  <div class="max-w-5xl mx-auto px-6 sm:px-8 py-3 flex items-center justify-between">
    <div class="flex items-center gap-4">
      <div class="font-bold text-lg" style="color:var(--color-foreground)">Nils' stage blog</div>
    </div>

    <div class="hidden sm:flex items-center space-x-4">
      <a href="/" ><Button variant="link">Home</Button></a>
      <a href="/about" ><Button variant="link">About</Button></a>
      <a href="/blog" ><Button variant="link">Blog</Button></a>
    </div>

    <MobileMenu client:load />
  </div>
</nav>
