---
import "../styles/global.css";
import { Button } from "../components/ui/button";
import MainLayout from "../layouts/main.astro";
import { Badge } from "../components/ui/badge";
import { Card } from "../components/ui/card";
---

<MainLayout title="About Me">
    <section class="py-8 sm:py-16">
        <h1 class="text-7xl sm:text-8xl font-bold text-accent mb-4">
            About Me
        </h1>
        <h2 class="text-2xl sm:text-4xl text-muted-foreground mb-6">
            Een korte introductie
        </h2>
    </section>
    <div id="maincontent-about" class="">
        <div class="section container">
            <div class="section">
                <h2 class="text-accent text-3xl mb-4">Nils Mertens</h2>
                <p>
                    Hallo! Ik ben Nils, een gemotiveerde programmeur met
                    ervaring in fullstack webontwikkeling. Ik werk graag aan
                    zowel persoonlijke als professionele projecten en heb ook
                    interesse in systeembeheer en netwerken. In mijn vrije tijd
                    onderhoud ik een home server en werk ik aan open source
                    projecten. Daarnaast ben ik fanatiek gamer en
                    techliefhebber. Als ik niet met code bezig ben, ben ik waarschijnlijk iets in het studentenleven aan het doen. <a href="fenrirclub.be" class="text-accent-foreground">Fenrir 🐺💜</a>
                </p>
                <h3 class="text-accent-foreground text-3xl mb-4">
                    Werkervaring
                </h3>
                <ul class="list-disc ml-6">
                    <li>
                        Saplly (junior software engineer) - februari 2026 / heden
                        2025
                    </li>
                    <li>
                        ZORGI (test automation engineer) - juni 2025 / november
                        2025
                    </li>
                    <li>
                        WEXSO BV (consultant - media/web) — juni 2024 / mei 2025
                    </li>
                    <li>Administration.be (media/web) — februari 2024</li>
                </ul>
                <h3 class="text-accent-foreground text-3xl mb-4">Opleiding</h3>
                <ul class="list-disc ml-6">
                    <li>Graduaat Programmeren – AP Hogeschool, Antwerpen</li>
                    <li>
                        Opleiding Multimedia – Cadix, Noorderlaan, Antwerpen
                    </li>
                </ul>
                <h3 class="text-accent-foreground text-3xl mb-4">
                    Persoonlijke Vaardigheden
                </h3>
                <p>
                    Nauwkeurigheid, stiptheid, gestructureerd werken, opdrachten
                    correct uitvoeren
                </p>
                <h3 class="text-accent-foreground text-3xl mb-4">
                    Vrije Tijd & Interesses
                </h3>
                <p>
                    Werken aan persoonlijke projecten, gaming (R6 Siege, DOOM
                    Eternal), events bezoeken, Zelfstudie in systeembeheer &
                    netwerken (eigen mediaserver/NAS)
                </p>
            </div>
        </div>
    </div>
</MainLayout>
