---

import '../styles/global.css';// Component Imports
import { Button } from "../components/ui/button";
import MainLayout from "../layouts/main.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<MainLayout title="Home">
    <div>
        <h1>Welkom</h1>
    </div>
</MainLayout>